


.nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.nav ul li {
	display: inline-block;
}


.nav ul li a {
	display: block;
	padding: 0.5rem 1rem;
	transition: all 0.4s linear;
	border-radius: 5px;
}

.nav ul li a:hover {
	background: #4a4a4a;
}
